#logo {
    background-color: lightgrey;
    border: 2px solid black;
    height: 150px;

}
#logo img {
    width: 200x;
    height: 150px;
    position:relative;
    transition: all 0.5s
ease;
   }
    #logo img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }

#logo h2 {
    margin-left: 225px;
    margin-top: -90px;
    
}

/* logo */

#Menubar {
    background-color: lightgrey;
    padding:30px;
    border: 2px solid black;
    position:relative;
    text-align: center;
    margin-top: 100px;
    font-size: 0;
    flex-direction: row;
    justify-content: center;
    box-sizing:unset;    
}

#main{
    text-align: center;
    position:relative;
    margin-top: -70px;
    font-size:x-large;
} 

#car1 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;

}
    #car1 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }
    
#car2 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
     #car2 img:hover{
         background:
         rgba(0,0,0,0.5);
         opacity: 0.7;
     }

#car3 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
    #car3 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }


    
#car4 img {
    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;

}
    #car4 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }
    
#car5 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
     #car5 img:hover{
         background:
         rgba(0,0,0,0.5);
         opacity: 0.7;
     }

#car6 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
    #car6 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }

  #car7 img {

    width: 200px;
    height: 200px;
      transition: all 0.5s
      ease;
  
  }
      #car7 img:hover{
          background:
          rgba(0,0,0,0.5);
          opacity: 0.7;
      }
      
  #car8 img {
  
    width: 200px;
    height: 200px;
      transition: all 0.5s
      ease;
  }
       #car8 img:hover{
           background:
           rgba(0,0,0,0.5);
           opacity: 0.7;
       }
  
  #car9 img {
  
      width: 200px;
      height: 200px;
      transition: all 0.5s
      ease;
  }
      #car9 img:hover{
          background:
          rgba(0,0,0,0.5);
          opacity: 0.7;
      }

  #car10 img {
    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;

}
    #car10 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }
    
#car11 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
     #car11 img:hover{
         background:
         rgba(0,0,0,0.5);
         opacity: 0.7;
     }

#car12 img {

    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;
}
    #car12 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }


    
#car13 img {
    width: 200px;
    height: 200px;
    transition: all 0.5s
    ease;

}
    #car13 img:hover{
        background:
        rgba(0,0,0,0.5);
        opacity: 0.7;
    }
    

  
